@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* GENERAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* HEADER START */

.page-header {
    width: 100%;
    background-color: #322e41;
}

.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    height: auto;
    object-fit: contain;
}

.logo-icon {
    width: 100%;
}

.navigation {
    display: flex;
}

.nav-link {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 23px 14px;
    transition: 0.4s;
}

.nav-link:hover {
    background-color: #fff;
    color: #d47300;
}

.burger-menu {
    width: 30px;
    height: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.burger-menu div {
    width: 100%;
    height: 3px;
    background-color: #fff;
}

/* HEADER END */

/* MAIN START */

/* BANNER SECTION START */

.main-banner {
    width: 100%;
    height: 500px;
    background-image: url(../image/hero-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
}

.banner-title {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    font-weight: 700;
}

.banner-text {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

/* PRODUCT-LIST SECTION START */
.product-list {
    background: #ebebeb;
}

.grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    transform: translateY(-37px);
}

.first {
    grid-row: span 2;
    grid-column: span 2;
}

.first .items-img {
    width: 100%;
}

.product-items {
    background-color: #fff;
    border-radius: 6px;
    padding: 15px;
}

.product-title {
    color: #2c2a2a;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
    text-align: center;
    margin-block: 12px;
}

.first .product-title {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
}

.product-text {
    color: #9b9b9b;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.product-img {
    display: block;
    margin: 0 auto;
}
/* PRODUCT-LIST SECTION END */

/* MAIN END */

/* FOOTER START */

.page-footer {
    width: 100%;
    background-color: #322e41;
    padding-block: 47px;
}

.footer-form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    max-width: 350px;
    width: 100%;
}

.footer-form_name,
.footer-form__textarea::placeholder {
    color: #9b9b9b;
    text-transform: capitalize;
}

.footer-form_name,
.footer-form__textarea {
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    background: #fff;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    resize: none;
}

.footer-form_name,
.footer-form__textarea:focus {
    outline: none;
}

.submit-btn {
    padding: 6px 0;
    border-radius: 6px;
    background: #544294;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    border: none;
    transition: 0.4s;
}

.submit-btn:hover {
    background-color: #fff;
    color: #322e41;
}

.footer-nav {
    width: 237px;
    display: flex;
    flex-direction: column;
    height: 110px;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 68px;
}

.footer-nav-link {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    transition: 0.4s;
    line-height: 20px;
}

.footer-nav-link:hover {
    color: #d47300;
}

.social-media_links {
    display: flex;
    column-gap: 40px;
}

.social-media_links svg path {
    transition: 0.4s;
}

.social-media_links svg:hover path {
    fill: #544294;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

/* FOOTER END */
